// Variables

// Colors
$bg-color: #000000;
$secondary-color: #6329B2;
$accent-color: #8C63C4;
$white: white; 
$body-text-color: #e6e6e6;
$form-field: #CACDD11A;

// Fonts 
$heading-font: 'Anton', sans-serif;
$body-font: 'Montserrat', sans-serif;





/* || GENERAL STYLES */
*{
  box-sizing: border-box;
  font-family: $body-font;
}
html{
  scroll-behavior: smooth;   
}
body {
  padding: 1%;
  padding-left: 230px;
  max-width: 1300px;
  font-style: $body-font;
  color: $body-text-color;
  font-size: 16px;
  line-height: 1.1rem;
  background-color: $bg-color;
  background-image: url("/images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}


ul {
  /* … */
}
a{
  text-decoration: none;
}


  // Button styles

.primary{
    background: $secondary-color;
    border-radius: 6px;
    color: $white;
    border: 1px solid $secondary-color;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 24px;
}
// Hover animations
.primary:hover,
.primary:focus {
    box-shadow: inset 16.5em 0 0 0 $accent-color;
    transition: 0.55s;
  }

  // Forms 

  .form-wrapper{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    div{
      display: flex;
      flex-direction: column;
      margin: 10px 12px; 
      width: 100%;

    }
    .half-width{
      width: 45%;
    }
    input{
      background-color: $form-field;
      height: 40px;
      border: none;
      border-radius: 2.6px;
      margin-top: 8px;
    }
    textarea{
      background-color: $form-field;
      height: 120px;
      border: none;
      border-radius: 2.6px;
      margin-top: 8px;
    }
    ::placeholder{
      color: #A9A9AA99;
    }
  }
  button[type="submit"]{
    margin-top: 40px;
  }
  input:focus, textarea:focus {
    color: $white;
  }

/* || UTILITIES */

.purple{
  color: $secondary-color;
  font-size: 56px;
}
.flex{
  display: flex;
  align-items: center;
}
.flex--end{
  justify-content: flex-end;
}

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vertical-line{
  background-color: $secondary-color;
  height: 50px;
  width: 1px;
  margin: 8px 0px;
}
.horizontal-line{
  background-color: $secondary-color;
  width: 50px;
  height: 1px;
  margin: 0px 8px;
}
.divider{
  font-weight: 300;
  color: $secondary-color;
}
.add-margin-top{
  margin-top: 56px;
}
/* … */

/* || SITEWIDE */

  h1{
    color: $white;
    letter-spacing: 0.5px;

  }
  .header-number
{
    letter-spacing: 2px;
    font-size: 30px;
    margin-right: 50px;
    font-family: $heading-font;
  }
  h2{
    font-size: 34px; 
    color: $white;
    line-height: 34px; 

    
  }
  h4{
    font-weight: 400;
    font-size: 18px; 
    padding-bottom: 16px;
    border-bottom: 1px solid #1C1E21;
    width: 70%;
    span{
      color: $secondary-color;
    }
  }


.social-icons i {
  margin: 24px 8px;
  color: $white;
  font-size: 24px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0; 
  background-color: $form-field;
  height: 100%;

  h1{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    margin-top: 0;
    margin-bottom: 75px;
    padding: 8px 0px 0px 1px;
    border-bottom: 1px solid $secondary-color;

  }

  
  /* … */
}
.sidebar > div{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-evenly;
  border: 2px solid $secondary-color;
  border-radius: 60px;
  padding: 32px;
  margin: 24px 0px 25px 0px;
  // height:327px;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;

  img{
    width: 22px;
    height: 22px;
    margin-left: 8px;
  }
  div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $secondary-color;
    width: 100%;
  }

  a{
    text-align: center;
    color: $white;
    font-size: 20px;
    padding: 22px 0px 22px 8px;
    width: 50%;
    transition: font-size 0.5s;
  }
  a:hover {
    font-size: 16px; 
  }
}

.connect-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 450px; 
  align-items: center;
  i{
    background-color: $secondary-color;
    color: $white;
    padding: 20px 10px;
  }
  a{
    color: $white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: $secondary-color;
  }
}


// Sidebar styles 

img.follow-me{
 height: 130px;
 width: auto;
}

// Hero section
.hero{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; 

  .hero-img-wrapper{
    position: relative;
    margin-top: 9%;
  }

  .avatar {
    width: 400px;
    height: 400px;
  }

  @keyframes rotate {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
  }
  .avatar-bg-layer {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0; 
    animation-name: rotate;
    animation-duration: 2.8s;
  }
  button{
    font-weight: 700;
    padding: 12px 24px;
    font-size: 20px;

  }
}


.hero-container{
  width: 50%;
  padding-left: 50px;
  p{
    padding-top: 8%;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
  }

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  h1{
    padding-top: 70px;
    font-weight: 700;
    font-size: 56px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: -10px;
    animation: fade-in;
    animation-duration: 3.5s;
      span{
        color:$secondary-color;
      }
  }
  h2{
    font-size: 34px;
    line-height: 34px; 
  }
}
//Section headers
.header{
  margin: 4% 0 2% 0;
  width: 100%;
  display: flex;
  align-items: center;

  h1{
    font-family: $heading-font;
    font-size: 46px;
    letter-spacing: 0.5px; 
  }
  img{
    width: 40px;
    margin-right: 50px;
  }
   
}

//About
.about-container{
  display: flex;
  .sub-container{
    padding: 0 5%;
    hr{
      height: 1px;
      background-color: $secondary-color;
      border: none;
    }
  }
}
.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-height: 400px;
  padding: 30px;
  background: #6329B2;
  background: linear-gradient(0deg,#6329b2 0%, #9b67e2 100%);
  border: 2px solid #6329B2;
  border-radius: 8px;
  h2{
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    line-height: 34px; 
 
  }
  iframe{
    width: 300px;
    height: auto;
    border: none;
    border-radius: 10px;

  }
  p{
    color: $body-text-color;
    line-height: 30px; 
  }
}

// Skills section 

.skills{

  i{
    color: $accent-color;
    margin-right: 30px;
  }
  .skills-list{
    list-style-type: none;
    padding-bottom: 2%;


    li{
      margin-bottom: 12px;
      padding-bottom: 16px;
      border-bottom: 1px solid $secondary-color;
    }
  }
}

// Portfolio
ul.filters{
  list-style-type: none;
  display: flex;
  align-items: center;

  li{
    font-weight: 600;
    font-size: 14px; 
    color: $body-text-color;
    margin: 0 20px;
   }
   .active{
    border: 1.3px solid $secondary-color;
    border-radius: 5.2px;
    padding: 8px 10px;
   }
}
.project{
  display: flex;
  flex-wrap: nowrap;
  margin: 70px 0;

}
.sub-container{
  
  .img-wrapper{
    width: 40%;
    height: auto; 
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  img{
    width: 100%;
  }
  span{
    color:$secondary-color;

  }

  .descr{
    width: 50%;
    color: $white;
    padding: 0px 20px; 
    h2{      
      margin-top: 0;
    }
  }
}

// For JS 
.hidden{
  border: 1px solid purple;
  display: none;
}
.show{
  display: flex; 
}

// Mobile media screen 
@media screen and (max-width: 768px){
html{
  width: 100%;
}
h1{ 
  font-size: 32px;
  }
h2{
  font-size: 22px;
}
.sidebar {
  display: none;

}
body{
  padding-left: 0px;
  width: 100%;
}
.hero{
  display: flex;
  flex-direction: column;
  width: 100%;
  }
  
.hero-container{
  max-width: 100%;
  padding-left: 0; 

  }
 
  .hero-img-wrapper{
    .avatar-bg-layer, .avatar{
      width: 300px;
      height: 300px;
      }

  }

  .about-container{
    flex-direction: column;
  }

}
